---

//const students = await getCollection("students");
//const filteredBlog = await getCollection("blog", ({data}) => data.author === 'jake');

//console.log(blog);

//const post1 = await getEntry("blog", "page-1");

//console.log(post1);

//const  {Content, headings, remarkPluginFrontmatter} =  await post1.render();

//console.log(await post1?.render());

import { getCollection } from "astro:content";

const blog = await getCollection("blog");

---
<h1> List of Blog Posts </h1>
{
  blog.map((post) => (
   <li><a href={`/blog/${post.slug}/`}>{post.data.title}</a></li> 
  ))
}









<!-- 
	<h1> My Blog </h1>
	
	<h1>Non Filtered</h1>
	{
		blog.map((post) => 	<li><a href = {post.slug}>{post.slug}</a></li>)
	}

<h1> Filtered</h1>

	{
		filteredBlog.map((post) => 	<li><a href = {post.slug}>{post.slug}</a></li>)
	}

		<p>{post1.data.title}</p>

		<p>{post1.body}</p>

		<h1>post content </h1>

		<Content/>

		<h1> Headings Manually </h1>
		<p> {headings[0].text}</p>
		<p> {headings[1].text}</p>


		<h1> Headings Dynamically</h1>

		{
			headings.map((heading) => <p>{heading.text}</p>)
		}


		{
			remarkPluginFrontmatter.author

		}-->
